input {
	font-size:16px;
} 

.op {
	margin:0px 5px;
}
.sup {
	vertical-align: super;
}

.output {
	padding:10px 15px;
}

.output label {
	min-height:50px;
	display:block;
}

.output label > span {
	display: inline-block;
	width:150px;
	text-align:right;
}

.output output {
	display:inline-block;
	margin-top:10px;
	font-family:monospace;
	font-size:20px;
}

output.treeTable div {
    display: inline-block;
    margin: 5px;
}
output.treeTable div.operator-node {
	border:1px solid silver;
} 
output.treeTable div.operator {
    background: black;
    color: white;
}

output.treeTable div.operator.operator-unknown {
    background: gray; 
    font-weight:normal;
}

output.formatted div {
	display:inline-block;
}

output.formatted .CoefficientNode > .operator {
	display:none;
}

output.formatted .ExponentNode > .operator {
	display:none;
}
output.formatted .ExponentNode > .rightNode {
	vertical-align: super;
	font-size: 90%;
}

.n-root {
	color:blue;
}