input {
	font-size:16px;
}

output {
	display:block;
	margin-top:10px;
	font-family:monospace;
	font-size:20px;
}

.op {
	margin:0px 5px;
}
.sup {
	vertical-align: super,
}

output[name=formattedInput] div {
    display: inline-block;
    margin: 5px;
}
output[name=formattedInput] div.operator-node {
	border:1px solid silver;
} 
output[name=formattedInput] div.operator {
    background: black;
    color: white;
}
 